#personas {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #personas td, #personas th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #personas tr:nth-child(even){background-color: #f2f2f2;}
  
  #personas tr:hover {background-color: #ddd;}
  
  #personas th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2b04aa;
    color: white;
  }