<h1>Lista de personas</h1>
<table id="personas">
    <tr>
        <th *ngFor="let columna of cabeceras">
            {{columna}}

        </th>
    </tr>

    <tr *ngFor="let filas of listaPersonas">
        <td>
            {{filas.nombre}}

        </td>
        <td>
            {{filas.edad}}

        </td>
        <td>
            {{filas.sexo}}

        </td>

        <td>
            {{getDocumento(filas.id) ? getDocumento(filas.id).documento:'Sin documento'}}

           
        </td>
      
    </tr>
</table>

<form [formGroup]="personaForm" novalidate (submit)="onSubmit()" style="margin-top: 5%; margin-left: 2%;" role="form">
  <div class="col-12 col-md-6 mb-2 mt-4">
    <div class="form-group">
      <label for="nombre" class="small mb-0">Nombre:</label>
        <select  class="custom-select custom-select-sm text-uppercase" style="width: 20%; margin-left: 5px;" name="nombre" id="nombre"
        formControlName="nombre" (change)="onSelectionChange($event);" [ngClass]="{'is-invalid': f['nombre'].invalid}">
        <option [value]="t.id" *ngFor="let t of listaPersonas; let i = index">{{t.nombre | uppercase}}</option>
      </select>
      <div class="text-danger small mt-1" *ngIf="f['nombre'].invalid">
        Nombre requerido
      </div>
      
    </div>
  </div>
  <div class="form-group">
    <label for="documento" class="small mb-0 me-2">Documento:</label>
    <span class="file-name">{{archivo ? archivo.name: getName(documentoNombre)}}</span>

    
  </div>
      <div>
        <button type="button" (click)="fileInput.click()">Escoge archivo</button>
        <input hidden (change)="uploadFile($event)" #fileInput type="file" formControlName="documento"
        [ngClass]="{'is-invalid': f['documento'].invalid}">
        <div class="text-danger small mt-1" *ngIf="f['documento'].invalid">
          documento requerido
        </div>
      </div>

  <div class="d-flex mt-5">
    
    <div>
      <button class="btn btn-outline-secondary btn-sm mr-2 me-2" type="button" (click)="borrarFormulario()" ><i
          class="bi bi-trash2"></i>&nbsp;Limpiar cambios</button>
              <button [disabled]="personaForm.invalid" class="btn btn-primary btn-sm" type="submit"><i class="bi bi-save"
                  ></i>&nbsp;Guardar</button>
     
    </div>
  </div>
</form>
